* {
  box-sizing: border-box;
}

.header{
  background-color: red;
  height: 150px;
  width: 100%;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  line-height: 90px;
  &__title{
    font-size: 30px;
    &--text{
      text-decoration: none;
      color: green;
      font-weight: bold;
    }
  }
}

.contents{
  background-color: gray;
}