.content{
  display: flex;
  padding: 20px;
  border-bottom: black 1px dashed;
  &__left{
    &--image{
      height: 225px;
      width: 150px;
      border: solid 1px black;
      margin-right: 10px;
      background-size: contain;
    }
  }
  &__right{
    &__top a{
      font-size: 50px;
      font-weight: bold;
      text-decoration: none;
      color: black;
    }
    &__bottom{
      &--date{

      }
    }
  }
}
