.post_content{
  padding: 20px;
}
.post_title{
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

.postDate{
  margin-bottom: 20px;
}

.postManage{

}

.postText{
  font-size: 20px;
}